.single-header{
    background-color: #FF6200;
    display:flex;
    align-items:center;
    width:100%;
    height:10%;
    padding:20px;
}
.single-header h1{
    font-size:24px;
    margin-left: 10px;
    line-height:1;
    margin:0;
    margin-left: 15px;
}
.single-header i{
    padding-right:10px;
}
.bill-info{
    margin-left:15px !important;
}
.bill-info p{
    margin-bottom:7px;;
}
.single-adresse{
    padding:25px;
}