main{
  background-color: #f5f2f2;
}
.bill {
  border-bottom: 15px solid white;
}
/* *{
  outline:1px solid green;
} */
.bills{
  padding:0;
}



.bill_pay{
  text-align: center;
  transform: rotate(270deg);
  background-color: rgb(109, 201, 109);
  
}

.bill_delay{
  text-align: center;
  transform: rotate(90deg);
  background-color: #ff6200;
  
}
.bill_name-specific {
  color: #737373;
  font-size: 12PX;
}
.to_pay {
  color: #737373;
  font-weight: normal !important;
  font-size: 25PX !important;
  
  }
.date {
  font-size: 10PX !important;
}