* {
	margin: 0;
	padding: 0;
}

header.index-header.container-fluid{
	padding:0;
}

html, body{
	width:100%;
	height:100%;
	font-family:'Open-sans',sans-serif;
	font-size:16px;
}
.index-header{
	height:152px;
}
.header-infos{
	background-color: #FF6200;
	height:50%;
	width:100%;
	display:flex;
	padding:0;
	margin:0;
	.app-title-wrapper{
		display:flex;
		justify-content: center;
		align-items:center;
		flex-direction:column;
		width:33.333%;
		.app-title{
			font-size:35px;
		}
	}
	.wrapper_info-user{
		font-size:14px;
		display:flex;
		justify-content: space-around;
		flex-direction: column;
		width:66.666%;
		.wrapper_name-number{
			display:flex;
			justify-content: space-between;
			margin:0 20px;
		}
		.wrapper_info-money{
			display:flex;
			justify-content: space-around;
			align-items:center;
			
			div{
				display:flex;
				flex-direction:column;
			}
			span{
				display:inline-block;
			}
		}
	}
}
.text-before-number{
	color:rgb(223, 223, 223);
}
.index-number{
	font-size:26px;
	line-height:1.2;
}
.index-number::after{
	content:' €';

}

//NAV
.nav-elem-active{
	background-color: #fff;
}
.index-nav ul{
	display:flex;
	justify-content: space-around;
	align-items:center;
	background-color: #dddbda;
	margin:0;	
	height:60px;
	.nav-elem{
		list-style: none;
		width:33.333%;
		height:100%;
		text-align:center;
		a{
			display:block;
			color:rgb(17, 17, 17);
			width:100%;
			height:100%;
			text-decoration:none;
			line-height:4;
		}
		.nav-elem > a:hover .nav-elem{
			background-color: #fff;
		}
	}

}

//MAIN

